# Ignore VS Code settings
.vscode/

# Ignore virtual environment directories
env/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Optional: Ignore logs and system files
*.log
.DS_Store
